* {
    box-sizing: border-box;
}

body {
    background-color: #3f145a;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header img {
    text-align: left;
    float: left;
    height: 50px;
    padding-right: 10%;
}

header h1, header h2 {
    color: #dbdbdb;
    margin: 0%;
    padding: 0%;
}

header h3 {
    color: #adadad;
    margin: 0%;
    padding: 0%;
}

#topbar header {
    margin: 0%;
    padding: 0%;
}

/*NAVIGATION*/

nav {
    width: 100%;
    height: 50px;
    background-color: #222222;
    color: #777777;
    padding: 0%;
    margin: 0%;
}

nav ul {
    /*remove bullets*/
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #777777;
    font-size: large;
    text-align: center;
    padding: 14.5px 14.5px;
}

nav a:link, a:visited {
    color: #dbdbdb;
    background-color: #222222;
    text-decoration: none;
}

nav a:hover, a:active {
    color: #adadad;
    background-color: #271035;
    text-decoration: underline bold;
}

nav li #contactUs {
    float: right;
}

/* mainContent */
#allContent {
    width: 80%;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
    min-height: 83.8vh;
}

#leftSidebar {
    position: fixed;
    width: 15%;
    padding-left: 3%;
    padding-right: 3%;
    min-height: inherit;
    background-color: #471a63;
    float: left;
}

#leftSidebar ul {
    /*remove bullets*/
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

#mainContent {
    padding-left: 20%;
    padding-right: 5%;
    min-height: inherit;
    float: left;
}

#mainContent p {
    color: #bbbbbb;
}

/* main footer */

footer {
    height: 50px;
    background-color: #121212;
    color: #a0a0a0;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    float: left;
}